
@{
    ViewBag.Title = "GetAllEmployee";
}

<h2>GetAllEmployee</h2>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Company</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach(SampleMVCApp.Models.Employee emp in ViewBag.EmpList)
            {
        <tr>
            <td>@emp.Id</td>
            <td>@emp.Name</td>
            <td>@emp.Department</td>
            <td>@emp.Salary</td>
        </tr>
            }

</tbody>
</table>